*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.App{
  display: flex;
  flex-direction: row;
}

.sidebar{
  width: 28%;
  height: 100vh;
  border-right: 1px solid gray;
  background-color: black;
  color: white;
}

.main-section{
  width: 72%;
  height: 100vh;
  background-color: black;
  color: white;
}

.main-section h4{
  padding: 10px;
}
